@page
@model CleanEnergy.Pages.ContactModel
@{
    ViewData["Title"] = "Contact page";
}

<br />
<h2 align="center" style="font-size: 70px"><i><b>Clean Energy Portal</b></i></h2>
<br />
<br />
            
<h1>Contact</h1>
<br>
<p>Marcin Pelech</p>
<p>marcinpelechdemoxv3@gmail.com</p>
