@page
@model CleanEnergy.Pages.ElectriccarModel
@{
    ViewData["Title"] = "Electric Cars page";
}

<br />
<h2 align="center" style="font-size: 70px"><i><b>Clean Energy Portal</b></i></h2>
<br />
<h3>Electric cars</h3>

<p>An electric car, battery electric car, or all-electric car, is an automobile that is propelled by one or more electric motors, using only energy stored in batteries.</p>
<p>Compared to internal combustion engine vehicles, electric cars are quieter, have no exhaust emissions, and lower emissions overall.</p>
<p>Charging an electric car can be done at a variety of charging stations; these charging stations can be installed in both houses and public areas.</p>
<p>The most expensive part of an electric car is its battery. The price decreased from €605 per kWh in 2010, to €170 in 2017, to €100 in 2019.</p>
<p>Electricity almost always costs less than gasoline per kilometer travelled, but the price of electricity often varies depending on where </p>
<p>and what time of day the car is charged. Cost savings are also affected by the price of gasoline which can vary by location.</p>

<br>
<br>
<p style="font-size: 30px; text-decoration: solid;">Links to companies that offer electric cars in Ireland.</p>
<br>
<a id="links" style="color:black; font-size: 20px;" href="https://www.carzone.ie/electric-cars">Carzone</a>
<br><br>
<a  id="links" style="color:black; font-size: 20px;" href="https://www.hyundai.ie/">Hyundai</a>
<br><br>
<a  id="links" style="color:black; font-size: 20px;" href="https://www.toyota.ie/">Toyota</a>
<br><br>
<a  id="links" style="color:black; font-size: 20px;" href="https://www.nissan.ie/">Nissan</a>
<br /><br />
<p style="font-size: 30px; text-decoration: solid;">Link for grants in Ireland.</p>
<a id="links" style="color:black; font-size: 20px;" href="https://www.seai.ie/grants/electric-vehicle-grants/">Sustainable Energy Authority Ireland</a>
