@page
@model CleanEnergy.Pages.FenceturbinesModel
@{
    ViewData["Title"] = "Fence Turbines page";
}
<br />
<h2 align="center" style="font-size: 70px"><i><b>Clean Energy Portal</b></i></h2>
<br />
<h3>Fence turbines</h3>

<p>This technology is similar to wind turbines but fit to fences which generate electric power.</p>
<p>By author their can generate similar amount of energy as solar panels.</p>
<p>Panels are not yet in production but we are waiting for first products, at the moment engineers have working prototype</p>
<p>and probably soon we can expect to show on market. Fences can produce energy with even small wind which is great for home owners.</p>
<p>Planning sales were on second part of 2021 but looks like is extended as engineers still testing the product.</p>
<br />
<p style="font-size: 30px; text-decoration: solid;">Links for more inforamtion about product.</p>
<br>
<a  id="links" style="color:black; font-size: 20px;" href="https://spidersweb.pl/2022/08/plot-ktory-wytwarza-prad.html">Spider web info</a>
<br><br>
<a  id="links" style="color:black; font-size: 20px;" href="https://centrumnauki.eu/prad-z-plotu-chodnika-i-okiennej-szyby/">Blog of Centrum nauki</a>
<br><br>