@page
@model CleanEnergy.Pages.RiverturbinesModel
@{
    ViewData["Title"] = "River Turbines page";
}
<br />
<h2 align="center" style="font-size: 70px"><i><b>Clean Energy Portal</b></i></h2>
<br />
<h3>River Turbines</h3>

<p>A water turbine is a rotary machine that converts kinetic energy and potential energy of water into mechanical work that is converted to electric power.</p>
<p>Flowing water is directed on to the blades of a turbine runner, creating a force on the blades. Since the runner is spinning, the force acts through </p>
<p>a distance (force acting through a distance is the definition of work). In this way, energy is transferred from the water flow to the turbine.</p>
<p>Water turbines are divided into two groups: reaction turbines and impulse turbines.</p>
<p>Reaction turbines are acted on by water, which changes pressure as it moves through the turbine and gives up its energy. They must be encased </p>
<p>to contain the water pressure (or suction), or they must be fully submerged in the water flow.</p>
<p>Impulse turbines change the velocity of a water jet. The jet pushes on the turbine's curved blades which changes the direction of the flow. </p>
<p>The resulting change in momentum (impulse) causes a force on the turbine blades. Since the turbine is spinning, the force acts through </p>
<p>a distance (work) and the diverted water flow is left with diminished energy. An impulse turbine is one in which the pressure of the fluid </p>
<p>flowing over the rotor blades is constant and all the work output is due to the change in kinetic energy of the fluid.</p>
<br>
<br>
<p id="links" style="font-size: 30px; text-decoration: solid;">Links to fitting companies in Ireland.</p>
<br>
<a  id="links" style="color:black; font-size: 20px;" href="http://www.bcdenergy.ie/renewables-hydro-power.php">BCD Energy</a>
<br><br>
<a  id="links" style="color:black; font-size: 20px;" href="https://www.micro-hydro-power.com/">Suneco</a>
<br><br>
<a  id="links" style="color:black; font-size: 20px;" href="http://www.ecoevolution.ie/small-scale-hydro.html">Eco Evolution</a>
<br><br />
<p style="font-size: 30px; text-decoration: solid;">Link for grants in Ireland.</p>
<a id="links" style="color:black; font-size: 20px;" href="https://www.seai.ie/grants/home-energy-grants/">Sustainable Energy Authority Ireland</a>

