@page
@model CleanEnergy.Pages.SolarpanelsModel
@{
    ViewData["Title"] = "Solar Panels page";
}
<br />
<h2 align="center" style="font-size: 70px"><i><b>Clean Energy Portal</b></i></h2>
<br />         
<h3>Solar panels modules </h3>

<p>Power your home with solar panels energy, solar panels use sunlight energy to generate direct current electricity through the photovoltaic efect. </p>
<p>A single solar module can produce only a limited amount of power that why most of installations contain multiple modules yo increase output of voltage.</p>
<p>A photovoltaic system typically includes an array of photovoltaic modules, an inverter, a battery pack for energy storage, charge controller, </p>
<p>interconnection wiring, circuit breakers, fuses, disconnect switches, voltage meters, and optionally a solar tracking mechanism.</p>
<p>Power typically ranges from 100 to 365 Watts (W). The efficiency of a module determines the area of a module given the same rated output - an 8% </p>
<p>efficient 230 W module will have twice the area of a 16% efficient 230 W module. Some commercially available solar modules exceed 24% efficiency.</p> 
<p>Currently, the best achieved sunlight conversion rate is around 21.5% in new commercial products typically lower than the efficiencies</p> 
<p>of their cells in isolation. The most efficient mass-produced solar modules have power density values of up to 175 W/m2 at the moment but may increase in future.</p>
<p>As new regulations when mounting solar panels power socket for electric cars charge will be mounted also.</p>
<br>
<br>
<p style="font-size: 30px; text-decoration: solid;">Links to fitting companies in Ireland.</p>
<br>
<a  id="links" style="color:black; font-size: 20px;" href="https://caldorsolar.ie/">Caldosolar</a>
<br><br>
<a id="links" style="color:black; font-size: 20px;" href="https://wizerenergy.ie/">Wizer Energy</a>
<br><br>
<a id="links" style="color:black; font-size: 20px;" href="https://www.aei.ie/">AEI</a>
<br><br>
<a id="links" style="color:black; font-size: 20px;" href="https://www.solarstream.ie/">Solarstream </a>
<br><br />
<p style="font-size: 30px; text-decoration: solid;">Link for grants in Ireland.</p>
<a id="links" style="color:black; font-size: 20px;" href="https://www.seai.ie/grants/home-energy-grants/">Sustainable Energy Authority Ireland</a>

