@page
@model CleanEnergy.Pages.WaterpanelsModel
@{
    ViewData["Title"] = "Water Panels page";
}

<br />
<h2 align="center" style="font-size: 70px"><i><b>Clean Energy Portal</b></i></h2>
<br />
<h3>Solar water panels</h3>

<p>Solar water heating is heating water by sunlight using solar panels collector.  </p>
<p>A sun-facing collector heats a working fluid that passes into a storage system for later use. </p>
<p>They operate independently or as hybrids with electric or gas heaters. In large-scale installations, mirrors may concentrate sunlight into a smaller collector.</p>
<p>Residential solar thermal installations fall into two groups: passive (sometimes called "compact") and active (sometimes called "pumped") systems.</p> 
 <p>Both typically include an auxiliary energy source (electric heating element or connection to a gas or fuel oil central heating system) that is activated when </p>
<p>the water in the tank falls below a minimum temperature setting, ensuring that hot water is always available. The combination of solar water heating </p>
<p>and back-up heat from a wood stove chimney can enable a hot water system to work all year round in cooler climates, without the supplemental heat </p>
<p>requirement of a solar water heating system being met with fossil fuels or electricity.</p>


<br>
<br>
<p style="font-size: 30px; text-decoration: solid;">Links to fitting companies in Ireland.</p>
<br>
<a id="links" style="color:black; font-size: 20px;" href="https://www.aei.ie/">AEI</a>
<br><br>
<a id="links" style="color:black; font-size: 20px;" href="http://www.pet.ie/solar-heating.html">Pure Energy Technology</a>
<br><br>
<a id="links" style="color:black; font-size: 20px;" href="https://www.glendimplexireland.com/brands/dimplex/domestic-heating-systems/solar-thermal-hot-water-systems">Glenn Dimplex Ireland</a>
<br><br>
<p style="font-size: 30px; text-decoration: solid;">Link for grants in Ireland.</p>
<a id="links" style="color:black; font-size: 20px;" href="https://www.seai.ie/grants/home-energy-grants/">Sustainable Energy Authority Ireland</a>


